<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <td>ID</td>
            <td>UserName</td>
            <td>Password</td>
            <td>RegisterDate</td>
        </tr>
        <tr th:each="user:${tUserList}">
            <td th:text="${user.id}">ID</td>
            <td th:text="${user.username}">UserName</td>
            <td th:text="${user.password}">Password</td>
            <td th:text="${#dates.format(user.registerdate,'yyyy-MM-dd')}">RegisterDate</td>
        </tr>
    </table>
</body>
</html>